Source: ros-rolling-ardrone-sdk
Section: misc
Priority: optional
Maintainer: victor <victor.talpaert@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-ardrone-sdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ros-workspace
Description: Exports ARSDK3 as a library
